{% extends "base.html" %}

{% block head %}
<title>Life predictor</title>
{% endblock %}




{% block body %}

<div class="pseudo_body">
    <h1>Add a course</h1>

    <div  class="divtab">
        <div class="divtab-cell">
        <hr>
        <h3>Add a course</h3>
        <form method="POST">
            <input type="hidden" name="form_type" value="finished">

            <input type="text" name="addCCode" placeholder="Course Code">
            <input type="text" name="addCName" placeholder="Course Name">
            <hr>
            <h4>Amount of each grade</h4>
            <input type="text" name="addCGrade0" placeholder="-3">
            <input type="text" name="addCGrade1" placeholder="00">
            <input type="text" name="addCGrade2" placeholder="02">
            <input type="text" name="addCGrade3" placeholder="04">
            <input type="text" name="addCGrade4" placeholder="7">
            <input type="text" name="addCGrade5" placeholder="10">
            <input type="text" name="addCGrade6" placeholder="12">
            <button type="submit">Add</button>
        </form>

        <hr>

        {% if added_courses %}
            <h3>Submitted courses:</h3>
            {% for a in added_courses %}
            <p class="added_courses"> <b>{{ a.cName }}</b>: {{ a.cCode }}</p>
            {% endfor %}
        {% endif %}
    </div>

</div>
</div>
{% endblock %}